<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Empleados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Empleados</ion-title>
    </ion-toolbar>
  </ion-header>

  
<ion-list *ngFor="let employee of employees">
  <ion-item (click)="view(employee)" (dblclick)="doubleClickFunction()" >
    <ion-label>{{employee.name.firtsname}}</ion-label>
    <ion-label>{{employee.name.lastname}}</ion-label>
    <ion-label>{{employee.key}}</ion-label>
  </ion-item>
</ion-list>

</ion-content>
